header {
    background-color: red;
}

nav {
    background-color: orange;
}

section {
    background-color: yellow;
}

article {
    background-color: green;
}

aside {
    background-color: blue;
}